<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title [routerLink]="['/home']" slot="start">LOGO</ion-title>
    <ion-searchbar [(ngModel)]="cari" slot="start" placeholder="Search..."></ion-searchbar>
    <ion-button [routerLink]="['/keranjang']" fill="clear" slot="end">
      <ion-icon name="cart-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">LOGO</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="cari" placeholder="Search..."></ion-searchbar>
    </ion-toolbar>
    <ion-toolbar>
      <ion-button color="primary" size="default" expand="block" [routerLink]="['/keranjang']">
        <ion-icon slot="start" name="cart-outline"></ion-icon>
      Go to Cart
    </ion-button>
    </ion-toolbar>
  </ion-header>


  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="2"> <br>
  
          <ion-list lines="none">
            <ion-list-header><h3>Filter</h3></ion-list-header>
            <ion-item>
              <ion-input [(ngModel)]="minHarga" labelPlacement="stacked" label="Min Harga" type="number"></ion-input>
              <ion-input [(ngModel)]="maxHarga" labelPlacement="stacked" label="Max Harga" type="number"></ion-input>
            </ion-item> <br>
            <ion-item>
              <ion-select [(ngModel)]="kategoriPilihan" placeholder="Semua">
                <div slot="label">Kategori</div>
                <ion-select-option [value]="">Semua</ion-select-option>
                <ion-select-option *ngFor="let i of kategori" [value]="i.id">{{i.nama}}</ion-select-option>
              </ion-select>
            </ion-item> <br>
            <ion-item>
              <ion-select [(ngModel)]="merekPilihan" placeholder="Semua">
                <div slot="label">Merek</div>
                <ion-select-option [value]="">Semua</ion-select-option>
                <ion-select-option *ngFor="let i of merek" [value]="i.id">{{i.nama}}</ion-select-option>
              </ion-select>
            </ion-item><br>
            <ion-item>
              <ion-button slot="end" (click)="filter()">
                <ion-icon name="funnel"></ion-icon> Filter
              </ion-button>
            </ion-item>
          </ion-list>
  
        </ion-col> 
  
        <ion-col>
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let barang of barangs;">
  
                <ion-card color="light" *ngIf="barang.stok > 0" routerLink="/detailbarang/{{barang.id}}">
                  <ion-card-header>
                    <ion-img [src]="barang.foto"></ion-img>
                  </ion-card-header>
                  <ion-card-content> 
                    <ion-item color="light">
                      {{barang.nama}}
                    </ion-item>
                    <ion-item color="light">
                      <b>{{barang.harga | currency:'Rp. ':'symbol':'1.0-0':'en-US' }}</b>
                    </ion-item>
                    <ion-item color="light">
                      <ion-button class="add-to-cart-btn" slot="end">
                        <ion-icon name="cart" slot="start"></ion-icon> + Keranjang
                      </ion-button>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="button-group">
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-button class="page-buttons" expand="block" color="primary" [routerLink]="'/katalog/' + (halaman - 1)" [disabled]="halaman <= 1">
            Previous
          </ion-button>
        </ion-col>
        <ion-col *ngFor="let i of range">
          <ion-button 
            size="small" 
            [routerLink]="['/katalog', i]" 
            [color]="i === halaman ? 'tertiary' : 'light'">
            {{ i }}
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="page-buttons" expand="block" color="secondary" [routerLink]="'/katalog/' + (halaman + 1)" [disabled]="halaman >= total">
            Next
          </ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
