<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detail transaksi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detail transaksi</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="status-icon">
    <ion-icon [name]="icon(detail.status)" [color]="warnaStatus(detail.status)" size="large"></ion-icon>
  </div>
  <ion-text color="primary">
    <h1 class="ion-text-center">{{ detail.status | titlecase }}</h1>
  </ion-text>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Informasi Transaksi</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-text>{{ detail.id }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label><strong>Total:</strong></ion-label>
        <ion-text>${{ detail.total }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label><strong>Tanggal:</strong></ion-label>
        <ion-text>{{ detail.tanggal }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label><strong>Status:</strong></ion-label>
        <ion-badge [color]="warnaStatus(detail.status)">
          {{ detail.status | titlecase }}
        </ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Additional Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label><strong>Payment Method:</strong></ion-label>
        <ion-text>{{ transaction.paymentMethod }}</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card> -->
</ion-content>
