<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/admin']">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Orderan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Orderan</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-searchbar [(ngModel)]="cari" (keyup)="cariOrder()" placeholder="Cari ID order atau nama customer"></ion-searchbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-select label="Status" interface="popover" [(ngModel)]="statusPilihan" (ionChange)="filterStatus()">
            <ion-select-option value="">Semua</ion-select-option>
            <ion-select-option *ngFor="let status of pilihanStatus">{{status}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngFor="let order of filterOrder">
    <ion-card (click)="bukaModal(order)">
      <ion-card-header>
        <ion-card-title> <span>Order {{order.id}}</span> <span style="float: right;">{{ order.tanggal }}</span></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Status:</strong> {{ order.status }}</p>
        <p><strong>Total Semua:</strong> {{ getTotal(order.detail) | currency:'Rp. ':'symbol':'1.0-0':'id-ID' }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-modal [isOpen]="isModalOpen" (didDismiss)="tutupModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Ubah Status</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="tutupModal()">Tutup</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <ion-content class="ion-padding">
        <ion-card-content>
          <p><strong>Nama Customer:</strong> {{ orderPilihan.nama }}</p>
          <p><strong>No Handphone:</strong> {{orderPilihan.nomor_hp}}</p>
          <p><strong>Alamat:</strong> {{orderPilihan.alamat}}</p>
          <p><strong>Status:</strong> {{ orderPilihan.status }}</p>
          <p><Strong>Tanggal:</Strong> {{ orderPilihan.tanggal }}</p>
          <p><strong>Total Semua:</strong> {{ getTotal(orderPilihan.detail) | currency:'Rp. ':'symbol':'1.0-0':'id-ID' }}</p>
          <p><strong>Barang:</strong></p>
          <div *ngFor="let barang of orderPilihan.detail">
            <p>&nbsp; Nama Barang: {{barang.barang}}</p>
            <p>&nbsp; Jumlah: {{barang.jumlah}}</p>
            <p>&nbsp; Harga: {{barang.harga | currency:'Rp. ':'symbol':'1.0-0':'id-ID'}}</p>
            <p>&nbsp; Total: {{barang.jumlah * barang.harga | currency:'Rp. ':'symbol':'1.0-0':'id-ID'}}</p>
            <p>--------</p>
          </div>
          <p>______________</p>
          <div>
            <strong>Bukti Pembayaran:</strong> <br>
            <img src="{{baseUrl}}/OnlineShopApp/asset/{{orderPilihan.bukti}}">
          </div>
        </ion-card-content>
        <ion-item>
          <ion-select label="Status" [(ngModel)]="status" [placeholder]="status" [disabled]="statuss == 'Dibatalkan'">
            <ion-select-option *ngFor="let status of pilihanStatus" [value]="status">
              {{ status }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="full" (click)="updateStatus()">Update Status</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-content *ngIf="!orders">
    <p>Tidak ada order.</p>
  </ion-content>
  
</ion-content>


