.profile-page {
  padding: 16px;
}

.profile-avatar {
  margin: 24px auto;
  width: 120px;
  height: 120px;
}

ion-list {
  margin-top: 16px;
}

ion-button {
  margin-top: 20px;
  margin-left: 10px;
}