<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-page">
    <ion-list>
      <ion-item>
        <ion-label>Nama: </ion-label>
        <ion-text>{{profil.nama}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>No. handphone: </ion-label>
        <ion-text>{{profil.nomor_hp}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Alamat: </ion-label>
        <ion-text>{{profil.alamat}}</ion-text>
      </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" routerLink="/update-profile">
      Update Profile
    </ion-button>
    <ion-button (click)="logout()" color="danger">Logout</ion-button>
  </div>
</ion-content>
