<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-page">
    <ion-list>
      <ion-item>
        <ion-text>Nomor Handphone: {{profil.nomor_hp}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-input label="Nama:" [(ngModel)]="profil.nama" fill="outline" errorText="{{namaError}}" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Alamat:" [(ngModel)]="profil.alamat" fill="outline" errorText="{{alamatError}}" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Password Baru:" [(ngModel)]="passwordBaru" fill="outline" errorText="{{passwordError}}" type="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Password:" [(ngModel)]="password" fill="outline" errorText="{{konfirmasiError}}" type="password" required></ion-input>
      </ion-item>
      <ion-text *ngIf="error" color="danger">{{error}}</ion-text>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="ubahProfil()">
      Update Profile
    </ion-button>
    <ion-button (click)="logout()" color="danger">Logout</ion-button>
  </div>
</ion-content>
