<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button defaultHref="/profil"></ion-back-button>
    <ion-title>Ubah profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ubah profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nama</ion-label>
        <ion-input placeholder="Masukan nama"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Alamat</ion-label>
        <ion-input type="email" placeholder="Masukan alamat pengantaran baru"></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary">
        Simpan
      </ion-button>
    </ion-list>
  </div>
</ion-content>
