<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Toko ATK
    </ion-title>
    <ion-text slot="end">
      {{user.nama}}
    </ion-text>
    <ion-button *ngIf="user.id" (click)="logout()" slot="end">
      Log Out
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <swiper-container>  
      <swiper-slide><img src="https://picsum.photos/2000/250"></swiper-slide>
      <swiper-slide><img src="https://picsum.photos/2000/250"></swiper-slide>
      <swiper-slide><img src="https://picsum.photos/2000/250"></swiper-slide>
    </swiper-container>
  </div>
</ion-content>
