<ion-header [translucent]="true">
  <ion-toolbar>
    <img class="logo" src="{{baseUrl}}/OnlineShopApp/asset/logo.png" slot="start">
    <ion-title slot="start"></ion-title>
    <ion-searchbar class="desktop" (keyup)="cariBarang($event)" [(ngModel)]="cari" slot="start" placeholder="Search..."></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/keranjang']" slot="end">
        <ion-icon name="cart-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/profil']">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">
  <div class="welcome-container">
    <ion-searchbar class="mobile" (keyup)="cariBarang($event)" [(ngModel)]="cari" slot="start" placeholder="Search..."></ion-searchbar>
    <ion-card class="welcome-card" *ngIf="user.id.length>30">
      <div class="card-header">
        <h2>Selamat datang, {{ user.nama }}!</h2>
      </div>
    </ion-card>

    <swiper-container [pagination]="{ clickable: true }" [navigation]="true" loop="true" class="swiper-banner">
      <swiper-slide>
        <img src="assets/images/banner1.jpg" alt="Banner 1" />
      </swiper-slide>
      <swiper-slide>
        <img src="assets/images/banner2.jpg" alt="Banner 2" />
      </swiper-slide>
      <swiper-slide>
        <img src="assets/images/banner3.jpg" alt="Banner 3" />
      </swiper-slide>
      <swiper-slide>
        <img src="assets/images/banner4.jpg" alt="Banner 4" />
      </swiper-slide>
      <swiper-slide>
        <img src="assets/images/banner5.jpg" alt="Banner 5" />
      </swiper-slide>
    </swiper-container>

    <div class="category-container">
      <ion-segment [(ngModel)]="kategoriPilihan" (ionChange)="gantiMerek($event)">
        <ion-segment-button value="">All</ion-segment-button>
        <ion-segment-button *ngFor="let i of merek" [value]="i.id">{{i.nama}}</ion-segment-button>
      </ion-segment>
    </div>

    <div class="catalog-container">
      <ion-grid>
        <ion-row>
          <ion-col size-md="3" size-xs="6" *ngFor="let barang of filteredItems">
            <ion-card class="catalog-card" routerLink="/detailbarang/{{barang.id}}">
              <div class="card-image">
                <img src="{{baseUrl}}/OnlineShopApp/asset/{{barang.foto}}"/>
              </div>
              <ion-card-content>
                <h3>{{ barang.nama }}</h3>
                <p>{{ barang.harga | currency:'Rp. ':'symbol':'1.0-0':'en-US' }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="catalog-footer">
        <ion-button class="catalog-title" fill="clear" [routerLink]="['/katalog']" color="primary">Semua barang</ion-button>
      </div>
    </div>
  </div>
</ion-content>