<ion-content [fullscreen]="true" class="login-content">
  <div class="login-container">
    <ion-card class="login-card">
      <div class="card-header">
        <h2>Login</h2>
        <p>Masukan datamu untuk login</p>
      </div>

      <div class="input-container">
        <ion-label class="above-label">Nomor Handphone</ion-label>
        <ion-item class="input-item">
          <ion-input [(ngModel)]="nohp" type="tel" inputmode="numeric" (ngModelChange)="validatePhoneNumber()" required placeholder="Masukan nomor handphone"></ion-input>
        </ion-item>
      </div>
      <ion-text *ngIf="phoneError" color="danger" class="error-message">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{ phoneError }}
      </ion-text>

      <div class="input-container">
        <ion-label class="above-label">Password</ion-label>
        <ion-item class="input-item">
          <ion-input [(ngModel)]="password" [type]="passwordType" required placeholder="Masukkan password"></ion-input>
          <ion-button fill="clear" size="small" slot="end" (click)="togglePasswordVisibility()">
            {{ passwordType === 'password' ? 'Show' : 'Hide' }}
          </ion-button>
        </ion-item>
      </div>
      <ion-text *ngIf="passwordError" color="danger" class="error-message">
        <ion-icon name="alert-circle-outline"></ion-icon>
        {{ passwordError }}
      </ion-text>

      <ion-text *ngIf="loginError">
        {{loginError}}
      </ion-text>

      <ion-button expand="block" class="login-button" (click)="login()" [disabled]="loading">
        <ion-spinner *ngIf="loading" slot="start"></ion-spinner>
        {{ loading ? 'Logging in...' : 'Login' }}
      </ion-button>

      <ion-button expand="block" fill="outline" class="create-account-button" (click)="navigateToSignUp()">
        Buat akun
      </ion-button>
    </ion-card>
  </div>
</ion-content>
