<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detail</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="{{baseUrl}}/OnlineShopApp/asset/{{barang.foto}}" alt="Gambar barang" />
        </ion-col>
        <ion-col size="8">
          <div class="item-card">
            <ion-card-header>
              <ion-card-title>{{ barang.nama }}</ion-card-title>
              <ion-text>{{ barang.harga | currency:'Rp. ':'symbol':'1.0-0':'en-US' }}</ion-text> <br>
              <ion-text>Stok: {{ barang.stok }}</ion-text>
            </ion-card-header>
            <ion-card-content>
              <ion-text>Deskripsi:</ion-text><br>
              <ion-text>{{barang.deskripsi}}</ion-text>
              <strong><ion-input label="Jumlah" [(ngModel)]="jumlah" type="number"></ion-input></strong>
              <ion-button expand="full" (click)="tambahKeranjang(barang.id)">+ keranjang</ion-button>
            </ion-card-content>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
