ion-content {
  --background: #f4f5f8;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  max-width: 800px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

ion-card {
  background: #fff7f0;
  min-height: 25vh;
  max-height: 25vh;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
}

ion-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

ion-card-title {
  color: #242424;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 10px;
}

ion-card-content {
  color: #2c2c2c;
  font-size: 1em;
  line-height: 1.4;
}

@media (max-width: 768px) {
  ion-card{
    min-height: 16vh;
    max-height: 16vh;
    padding: 10px;
    margin: auto;
  }

  ion-card-title{
    margin-bottom: 2px;
  }
}